:focus-visible {
	--outline-size: max(2px, 0.15em);

	outline:
		var(--outline-width, var(--outline-size))
		var(--outline-style, solid)
		var(--outline-color, currentColor);
	outline-offset: var(--outline-offset, var(--outline-size));
}

body {
	accent-color: var(--color-accent);
	background-color: var(--color-surface);
	color: var(--color-text);
}
