body {
	font-family: var(--font-family-body, var(--font-family-sans));
	font-size: var(--font-size-base);
	/* To meet WCAG 2.1 AAA, spacing between lines in a
	paragraph should be equivalent to a line-height of 1.5 */
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-display);
	line-height: 1.2;
}

h1 { font-size: var(--font-size-2xl); }
h2 { font-size: var(--font-size-xl); }
h3 { font-size: var(--font-size-lg); }
small { font-size: var(--font-size-sm); }

:is(ul, ol):not([role=list]) {
	padding-inline-start: 2ch;
}

pre, code, kbd {
	font-family: var(--font-family-code, var(--font-family-monospace));
	font-variant-numeric: tabular-nums;
}
