:root {
	--color-text: #252525;
	--color-surface: #f6f6f6;

	--color-link: #0969da;

	--font-family-sans: ui-sans-serif, system-ui, sans-serif, emoji;
	--font-family-monospace: ui-monospace, Source Code Pro, Jetbrains Mono, monospace, emoji;
}
