:root {
	/*
	min => 1.2 ratio, 16px base, 320px viewport width
	max => 1.25 ratio, 18px base, 1240px viewport width
	*/
	--font-size-xs: clamp(0.69rem, calc(0.69rem + 0.04vw), 0.72rem);
	--font-size-sm: clamp(0.83rem, calc(0.81rem + 0.12vw), 0.90rem);
	--font-size-base: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
	--font-size-md: clamp(1.20rem, calc(1.13rem + 0.36vw), 1.41rem);
	--font-size-lg: clamp(1.44rem, calc(1.33rem + 0.55vw), 1.76rem);
	--font-size-xl: clamp(1.73rem, calc(1.56rem + 0.82vw), 2.20rem);
	--font-size-2xl: clamp(2.07rem, calc(1.84rem + 1.17vw), 2.75rem);
	--font-size-3xl: clamp(2.49rem, calc(2.16rem + 1.64vw), 3.43rem);

	--space-3xs: clamp(0.25rem, calc(0.23rem + 0.11vw), 0.31rem);
	--space-2xs: clamp(0.50rem, calc(0.48rem + 0.11vw), 0.56rem);
	--space-xs: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
	--space-s: clamp(1.00rem, calc(0.96rem + 0.22vw), 1.13rem);
	--space-m: clamp(1.50rem, calc(1.43rem + 0.33vw), 1.69rem);
	--space-l: clamp(2.00rem, calc(1.91rem + 0.43vw), 2.25rem);
	--space-xl: clamp(3.00rem, calc(2.87rem + 0.65vw), 3.38rem);
	--space-2xl: clamp(4.00rem, calc(3.83rem + 0.87vw), 4.50rem);
	--space-3xl: clamp(6.00rem, calc(5.74rem + 1.30vw), 6.75rem);
}
