.l-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size, 10rem), 1fr));
	column-gap: var(--grid-column-gap, var(--grid-gap, var(--space-s)));
	row-gap: var(--grid-row-gap, var(--grid-gap, var(--space-s)));
	align-items: stretch;
	justify-content: space-around;
}
