.l-repel {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: var(--repel-align, flex-start);
	column-gap: var(--repel-column-gap, var(--space-s));
	row-gap: var(--repel-row-gap, var(--space-s));
}
