
.l-sidebar {
	display: flex;
	flex-wrap: var(--sidebar-wrap, wrap);
	gap: var(--sidebar-gap, var(--space-s));
	align-items: var(--sidebar-align, start);
}

.l-sidebar > :first-child {
	flex-grow: 1;
	flex-basis: var(--sidebar-width, content);
}

.l-sidebar > :first-child + * {
	flex-basis: 0;
	flex-grow: 999;
	min-inline-size: 50%;
}
